{% load static %}
<!DOCTYPE html>
<html ng-app="restApp">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <!--  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-route.js"></script> -->
<!--   <script src="{% static 'js/angular-1.6.9.js' %}"></script> -->
  <script src="{% static 'js/Products/app.js' %}"></script>
 {% verbatim %}


  <div ng-controller="ProductSCCtrl">
  <li ng-repeat="sc in serviceCenters.ProductServiceCentres"  >
   <a href="/scDetail/?sID={{sc['ScID']}}">{{sc["ScName"]}} - {{sc["ScLocation"]}}</a>
  </li>
   </div>
{% endverbatim %}

</html>