{% load static %}
<!DOCTYPE html>
<html ng-app="restApp">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <!--  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-route.js"></script> -->
<!--   <script src="{% static 'js/angular-1.6.9.js' %}"></script> -->
  <script src="{% static 'js/Products/app.js' %}"></script>
 {% verbatim %}


    <div ng-controller="ProductModelCtrl">
    <li ng-repeat="product in products | unique: 'ProductModel'" ng-show="product.ProductType == pType"  >
   <a href="/sc/?pID={{product.ProductId}}">{{product.ProductModel}} </a>
  </li>
   </div>
{% endverbatim %}

</html>